<div class="admin" *ngIf="user | async as user">
  <mat-toolbar color="primary" class="admin__toolbar">
    <div>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Panel lekarza</span>
    </div>

    <div>
      <span class="admin-toolbar__user-profile">{{ user.sub }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="admin-toolbar__menu-button">more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <section class="admin__content">
    <div class="admin__menu">
      <div class="admin-menu__logo-container">
        <img class="admin-menu__logo" src="assets/img/logo.png" />
      </div>
      <div
        matRipple
        *ngFor="let menuItem of menuList"
        [routerLink]="menuItem.url"
        [routerLinkActive]="'admin-menu__item--active'"
        class="admin-menu__item"
      >
        <mat-icon>{{ menuItem.icon }}</mat-icon>
        <span>{{ menuItem.label }}</span>
      </div>
    </div>
    <div class="admin__page">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Profil</span>
  </button>
  <button (click)="passwordChange()" mat-menu-item>
    <mat-icon>vpn_key</mat-icon>
    <span>Zmień hasło</span>
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Wyloguj się</span>
  </button>
</mat-menu>
