.pets-details__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 30vh;
}
.main {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.upper-div {
  display: flex;
  gap: 16px;
}
.lower-div {
  display: flex;
  gap: 16px;
}
