@use "@angular/material" as mat;

@import "src/assets/styles/variables";

.password-recovery__logo {
  height: 200px;
  width: 200px;
}

.password-recovery__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-recovery__form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.password-recovery__actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.password-recovery__buttons {
  width: 45%;
}
.password-recovery__footer {
  text-align: center;
  margin-bottom: 0;
  font-size: 12px;
}
.password-recovery__register:hover {
  cursor: pointer;
  color: primaryColor(900);
}
.password-recovery__register {
  color: primaryColor(500);
}
