<mat-card>
  <mat-card-header class="password-recovery__header">
    <img class="password-recovery__logo" src="assets/img/logo.png" />
    <h2>Przypomnienie hasła</h2>
  </mat-card-header>

  <mat-card-content>
    <form class="password-recovery__form">
      <mat-form-field appearance="outline">
        <mat-label>Adres email</mat-label>
        <input matInput placeholder="email@example.com" />
        <mat-icon matSuffix> alternate_email</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="password-recovery__actions">
    <button
      class="password-recovery__buttons"
      mat-button
      [routerLink]="['/auth']"
    >
      Anuluj
    </button>
    <button
      class="password-recovery__buttons"
      mat-flat-button
      color="primary"
      [routerLink]="['/auth']"
    >
      Przypomnij
    </button>
  </mat-card-actions>
  <mat-card-footer class="password-recovery__footer">
    Nie masz konta?
    <a class="password-recovery__register" [routerLink]="['/auth/register']"
      >Zarejestruj się</a
    >
  </mat-card-footer>
</mat-card>
